<html lang="en" class="no-js"><!-- index14:58--><head>
    <!-- Basic need -->
    <title>Open Pediatrics</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600">
    <!-- Mobile specific meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">
 <script>
    document.getElementsByTagName("html")[0].className += " js";
  </script>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&amp;family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ asset('asset/css/css-movies/output.css') }}">

<body style="display:flex">

<section class="relative z-1 mb-20 lg:mb-28" style="margin:auto">
    <div class="w-[calc(100%_-_2.5rem)] lg:w-[calc(100%_-_4rem)] mx-auto max-w-lg md:max-w-3xl lg:max-w-5xl xl:max-w-7xl relative">
      <div class="grid grid-cols-12  px-5 lg:px-0">
        <div class="relative z-2 col-span-12 lg:col-span-6 xl:col-span-5">
          <div class="text-component bg-floor/90 p-5 lg:p-12 shadow-md leading-snug my-20 lg:my-32">
            <h1>Art &amp; Clothing</h1>
            <p class="text-contrast-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, rem neque doloribus impedit explicabo minus laborum cupiditate atque esse consectetur.</p>
            <aside class="sidebar sidebar--static@md js-sidebar sidebar--static sidebar--loaded" id="filter-panel" aria-labelledby="filter-panel-title">
          <div class="sidebar__panel">
            
        
            <form class="relative z-1 js-adv-filter__form">
              

              <ul class="accordion js-accordion" data-animation="on" data-multi-items="on">
                
              
                <li class="accordion__item js-accordion__item js-adv-filter__item" data-default-text="All">
                  <button class="reset accordion__header py-3 lg:py-3.5 px-5 lg:px-2.5 js-tab-focus js-accordion__trigger" type="button" aria-expanded="false" aria-controls="accordion-content-1" id="accordion-header-1" style="outline: none;">
                    <div>
                      <div class="leading-tight lg:text-base lg:leading-tight">Categories</div>
                      <div class="text-sm leading-tight lg:text-base lg:leading-tight text-contrast-medium"><i class="sr-only">Active filters: </i><span class="js-adv-filter__selection">All</span></div>
                    </div>

                    <svg class="icon accordion__icon-arrow-v2 no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
                      <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10">
                        <path d="M2 2l12 12"></path>
                        <path d="M14 2L2 14"></path>
                      </g>
                    </svg>
                  </button>
              
                  <div class="accordion__panel js-accordion__panel" aria-labelledby="accordion-header-1" id="accordion-content-1">
                    <div class="pt-1 px-5 pb-5 lg:pb-6 lg:px-2.5">
                      <ul class="adv-filter__radio-list flex flex-col gap-1 lg:gap-1.5">
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="azione" value="azione">
                            <label for="azione">Azione</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="animazione" value="animazione">
                            <label for="animazione">Animazione</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="avventura" value="avventura">
                            <label for="avventura">Avventura</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="biografico" value="biografico">
                            <label for="biografico">Biografico</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="commedia" value="commedia">
                            <label for="commedia">Commedia</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="crime" value="crime">
                            <label for="crime">Crime</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="documentario" value="documentario">
                            <label for="documentario">Documentario</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="erotico" value="erotico">
                            <label for="erotico">Erotico</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="famiglia" value="famiglia">
                            <label for="famiglia">Famiglia</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="fantascienza" value="fantascienza">
                            <label for="fantascienza">Fantascienza</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="fantasy" value="fantasy">
                            <label for="fantasy">Fantasy</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="giallo" value="giallo">
                            <label for="giallo">Giallo</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="guerra" value="guerra">
                            <label for="guerra">Guerra</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="horror" value="horror">
                            <label for="horror">Horror</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="musical" value="musical">
                            <label for="musical">Musical</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="poliziesco" value="poliziesco">
                            <label for="poliziesco">Poliziesco</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="romantico" value="romantico">
                            <label for="romantico">Romantico</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="storico" value="storico">
                            <label for="storico">Storico</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="spionaggio" value="spionaggio">
                            <label for="spionaggio">Spionaggio</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="sportivo" value="sportivo">
                            <label for="sportivo">Sportivo</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="thriller" value="thriller">
                            <label for="thriller">Thriller</label>
                        </li>
                        <li>
                            <input class="radio" type="radio" name="radio-categories" id="western" value="western">
                            <label for="western">Western</label>
                        </li>


                      </ul>
                    </div>
                  </div>
                </li>
              
                
              
                

                
              </ul>
              <p><a class="btn btn--primary" href="#" id="categoriaFilm">Cerca</a></p>
            </form>
          </div>
        </aside>
          </div>
        </div>
  
        <figure class="absolute z-1 top-0 right-0 h-full col-span-12 lg:col-span-10 lg:max-w-[83%] reveal-fx reveal-fx--clip-x reveal-fx--is-visible">
          <img class="block w-full h-full object-cover" src="asset/img/interstellar.jpeg" loading="lazy" alt="Image description">
        </figure>
      </div>
    </div>
  </section>
{#
   <section class="relative z-1 mb-20 lg:mb-28">
</section>

   <section class="relative z-1 mb-20 lg:mb-28">
    
      <div class="grid grid-cols-12 gap-3 lg:gap-5">
        <div class="col-span-12 xl:mb-8">
          <h1 class="text-5xl lg:text-7xl uppercase">Azione</h1>
        </div>

        
      </div>
    </div>
   <div class="overflow-hidden reveal-fx reveal-fx--translate-up reveal-fx--is-visible" data-reveal-fx-delta="50">
      <div class="carousel carousel-v3 flex flex-col w-[calc(100%_-_2.5rem)] lg:w-[calc(100%_-_4rem)] mx-auto max-w-5xl js-carousel carousel--loaded" data-drag="on" data-loop="off" data-overflow-items="on" data-align-controls=".prod-card-v2__img-link">
        <p class="sr-only">Carousel items</p>
    
        <div class="carousel__wrapper relative">
       
          <ol class="carousel__list" style="transform: translateX(0px);">  
           {% for image in images %}
            <li class="carousel__item" style="width: 333.3px;">
              <div class="prod-card-v2">
                <a href="#0" class="prod-card-v2__img-link" aria-label="Description of the link">
                  <figure class="aspect-w-4 aspect-h-5">
                    <img src="https://cineblog01.codes/{{ image }}" alt="Product preview image">
                  </figure>
                </a>

                <div class="p-3 lg:p-5 text-center">
                  <h2 class="text-lg lg:text-2xl font-sans"><a href="#0" class="product-card-v2__title">Product Name</a></h2>

                  <div class="mt-1 lg:mt-1.5">
                    <span class="prod-card-v2__price">$79</span>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ol>
    
          <nav class="no-js:is-hidden">
            <ul class="absolute top-0 left-0 bottom-0 right-0 pointer-events-none flex items-center justify-between">
              <li>
                <button class="reset carousel-v3__control carousel-v3__control--prev js-carousel__control js-tab-focus" disabled="true" style="margin-bottom: 106px; outline: none;">
                  <svg class="icon w-[16px] h-[16px]" viewBox="0 0 16 16">
                    <title>Show previous items</title>
                    <g>
                      <path d="M10.892,16.41L4.241,8.65c-0.321-0.374-0.321-0.927,0-1.301l6.651-7.76l1.519,1.302L6.317,8l6.093,7.108 L10.892,16.41z"></path>
                    </g>
                  </svg>
                </button>
              </li>
    
              <li>
                <button class="reset carousel-v3__control carousel-v3__control--next js-carousel__control js-tab-focus" style="margin-bottom: 106px; outline: none;">
                  <svg class="icon w-[16px] h-[16px]" viewBox="0 0 16 16">
                    <title>Show next items</title>
                    <g>
                      <path d="M5.108,16.41L3.59,15.108L9.683,8L3.59,0.892L5.108-0.41l6.651,7.76c0.321,0.374,0.321,0.927,0,1.301 L5.108,16.41z"></path>
                    </g>
                  </svg>
                </button>
              </li>
            </ul>
          </nav>
        </div>
      <div class="sr-only js-carousel__aria-live" aria-live="polite" aria-atomic="true"></div></div>
    </div>
  </section>
         
 #}

  <script src="https://unpkg.com/codyhouse-framework/main/assets/js/util.js"></script>
<script src="{{ asset('asset/js/components.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="{{ asset('asset/js/film.js')}}"></script>
</body>
</html>